<form  method="post">
    <input type="text" name="username" value="" placeholder="username"></input>
    <input type="password" name="password" value="" placeholder="password"></input>
    <input type="submit" value="Login">
</form>